[submodule "repos/cap_cr"]
	path = repos/cap_cr
	url = https://github.com/ljtum/cap_cr.git
[submodule "repos/rtcr"]
	path = repos/rtcr
	url = https://github.com/ljtum/rtcr.git
	branch = fr_multicore_incremental
